# Dependencies
node_modules/

# Production
frontend/dist/
frontend/dev-dist/
backend/dist/

# Env
.env
.env.local
.env.*.local

# Databases
database/*.db
database/*.db-shm
database/*.db-wal

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
